Pyrogram==2.0.106
TgCrypto==1.2.5
uvloop

# openai==0.27.8
g4f

bs4
fake_useragent

python-dotenv

qrcode
opencv-python==4.8.0.74

aiohttp
aiofiles

gTTS

pynekobin

yt-dlp==2023.10.13
youtube-search-python
youtube-search

colorama
